update-prices.json
{
  "name": "Shopify Price Update with AI Validation",
  "nodes": [
    {
      "parameters": {
        "operation": "fromFile",
        "filePath": "/data/prices.csv"
      },
      "id": "1",
      "name": "Read CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "2",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://yourstore.myshopify.com/admin/api/2025-01/products.json?handle={{$json[\"handle\"]}}",
        "method": "GET",
        "responseFormat": "json",
        "headerParametersJson": "={ \"X-Shopify-Access-Token\": \"YOUR_API_TOKEN\" }"
      },
      "id": "3",
      "name": "Fetch Product by Handle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://yourstore.myshopify.com/admin/api/2025-01/variants={{$json[\"products\"][0][\"variants\"][0][\"id\"]}}.json",
        "method": "PUT",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={ \"variant\": { \"id\": {{$json[\"products\"][0][\"variants\"][0][\"id\"]}}, \"price\": \"{{$json[\"new_price\"]}}\" } }",
        "headerParametersJson": "={ \"X-Shopify-Access-Token\": \"YOUR_API_TOKEN\", \"Content-Type\": \"application/json\" }"
      },
      "id": "4",
      "name": "Update Shopify Variant Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://yourstore.myshopify.com/admin/api/2025-01/variants/{{$json[\"variant\"][\"id\"]}}.json",
        "method": "GET",
        "responseFormat": "json",
        "headerParametersJson": "={ \"X-Shopify-Access-Token\": \"YOUR_API_TOKEN\" }"
      },
      "id": "5",
      "name": "Fetch Variant After Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "Check if the Shopify variant price was updated correctly. Requested new price: {{$json[\"new_price\"]}}. Shopify returned price: {{$json[\"variant\"][\"price\"]}}. Respond with PASS if it matches, else FAIL with reason."
      },
      "id": "6",
      "name": "AI Validation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1500, 300],
      "credentials": {
        "openAiApi": "YOUR_OPENAI_API_CREDENTIAL"
      }
    }
  ],
  "connections": {
    "Read CSV": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Fetch Product by Handle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product by Handle": {
      "main": [
        [
          {
            "node": "Update Shopify Variant Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Shopify Variant Price": {
      "main": [
        [
          {
            "node": "Fetch Variant After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Variant After Update": {
      "main": [
        [
          {
            "node": "AI Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
